.header {
  background-image: url("../../../images/scribble-transparent-cloud-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  padding: 100px;
  margin-bottom: 120px;
}

.header h1 {
  /* font-family: starry; */
  margin: 0;
  padding-top: 75px;
  text-align: center;
  color: black;
  font-size: 2rem;
  /* padding-bottom: 5em; */
}

h1 {
  margin-bottom: 30px;
  padding-bottom: 30px;
}
