.card {
  width: 20rem;
}

.card-body {
  background-image: url('../../../images/book2.png');
  background-size: cover;
  min-height: 100%;
  background-position: center;
  padding: 50px;
}

.center {
  text-align: center;
  align-content: center;
  padding: 20px;
  /* margin: 20px; */
  /* margin: auto; */
}

.spacer {
  margin: 50px;
}